h1 {
    color: #000;
    font-size: 30px;
    font-family: "Comic Sans Ms", tahoma, sans-serif;
}
body {
    background-color: #fff;
}
p {
    color: #000;
    font-size: 20px;
    font-family: arial;
}
